<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AHHHHHHHHHHHHHHHHH</title>
</head>
<body>
<h1>Bad GPT</h1>
<h3>Signed in as {{name}}</h3>
</body>

</html>
<form action="/alert" method="POST">
    <label for="slider">Temperature:</label>
  <input type="range" id="slider" name="slider" min="0" max="100" step="1" value="50">
  <br>
    <input type="" name="input" placeholder="eg. Tell Me About Python" >
    <input type="submit" value="Send to ChatGPT" name="alert">
</form>
<form action="/history" method="POST">
    <input type="submit" value="History" name="alert">
</form>
<form action="/logout" method="POST">
    <input type="submit" value="Log Out" name="alert">
</form>